{% extends 'base.html.twig' %}

{% block title %}LISTE DES CONTACTS{% endblock %}

{% block body %}
<h1 class="text-center pt-2">LISTE DE CONTACTS</h1>

<div class="row">
    {% for leContact in lesContacts %}
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <div class="card mb-3">
                <h4 class="card-header">{{ leContact.nom}} {{leContact.prenom }}</h4>
            <img class="avatar mx-auto my-3" style="height: auto; max-width: 200px; display: block;" src=" {{leContact.avatar}}" alt="Card image">
                <ul class="list-group list-group-flush">
            <li class="list-group-item">{{leContact.rue}}</li>
                    <li class="list-group-item">{{leContact.cp}}</li>
                    <li class="list-group-item">{{leContact.ville}}</li>
                    <li class="list-group-item">{{leContact.mail}}</li>
                    <li class="list-group-item">
                        {% if leContact.sexe==0 %}
                            <span class="badge badge-dark ">HOMME</span>
                        {% else %}
                        <span class="badge badge-dark ">FEMME</span>
                        {% endif %}
                            
                    </li>
                </ul>
                <div class="card-body">
                    <a href="{{path('ficheContact', {'id' : leContact.id})}}" class="btn bts-success btn-block text-center">Détail...</a>
                </div>
            </div>
        </div>
    {% endfor %} 
</div>

{% endblock %}
